/*html, body, h1, ul, p, a {
  padding: 0;
  border: 0;
  margin: 0;
}*/

body {
  /*background: url("../images/NYC2bc.jpg")no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;*/
  text-align: center;
   }

   .avatar {
     position:absolute;
     right: -4px;
     top: 5px;

   }

h1 {
  font-family: 'Homemade Apple', cursive;
  color: #000000
}

li {
  margin-bottom: 5px;
}
body {
  padding: 15px;
  font-family: sans-serif;
}
.nav {
  padding: 0;
  text-align: center;
}
.nav li{
  display: inline;
  padding-right: 20px;
}

.footer li{
  display: inline;
  padding-right: : 20px;
}
