/*html, body, h1, ul, p, a {
  padding: 0;
  border: 0;
  margin: 0;
}*/

body {
  background: url("../images/NYC2bc.jpg")no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  text-align: center;
   }

   .avatar {
     position:absolute;
     right: -4px;
     top: 5px;
     
   }


h1 {
  font-family: 'Homemade Apple', cursive;
  color: #000000
}
p {
  color: #444444;
  margin: 0 0 10px 0;
}
a {
  color: #440000;
}
ul {
  padding: 0 0 0 30px;
}
li {
  margin-bottom: 5px;
}
body {
  padding: 15px;
  font-family: sans-serif;
}
.nav {
  padding: 0;
  text-align: center;
}
.nav li{
  display: inline;
  padding-right: 20px;
}
.header {
  padding: 15px;
  text-align: center;
}
.content {
  padding: 15px;
  width: 450px;
  margin: 0 auto;
}
/*.header img {*/
  /*margin: 0 auto 15px auto;
  display: block;*/
  /*object-fit: cover;
}*/

/*img {
    clip: rect(0px,0px,20px,0px);
}*/
